import(quantreg,limma,lattice,stats4,gam,gplots,ggplot2,Biobase)
importFrom( grid, grid.newpage )
importFrom( grid, pushViewport )
importFrom( grid, viewport )
importFrom( grid, grid.layout )
importFrom( Hmisc, errbar )
importFrom( Biobase, AnnotatedDataFrame )

export(curvePredictSigmoid,calcLinear,calcLogistic,calcSdc,correctBG,normalizeRPPA,pick.high.conc,plotMeasurementsQC,plotQC,plotTimeCourse,plotqq,read.Data,test.correlation,remove.arrays,rppa2boxplot,rppaList2ExpressionSet,rppaList2Heatmap,sample.median,select.measurements,select.sample.group,write.Data,correctDilinterc,simpleBoxplot,averageData,getErrorModel,dataPreproc,logList,plotTimeCourseII)
